.ind-watch {
	min-height: 500px;
	text-align: center;
	margin: 70px 250px 150px;
	.ind-img {
		max-height: 400px;
		max-width: 450px;
		display: inline-block;
		vertical-align: top;
	}
	.ind-info {
		display: inline-block;
		margin-left: 20px;
		h3 {
			color: #BBB2A6;
			font-family: $georgia;
			letter-spacing: 1px;
		}
		h2 {
			color: red;
			span {
				font-size: 16px;
				color: #BBB2A6;
				font-family: $georgia;
				letter-spacing: 1px;
			}
		}
		p {
			font-size: 16px;
			font-family: $georgia;
			text-transform: uppercase;
			line-height: 2;
		}
		a {
			padding: 5px 20px;
			margin-top: 20px;
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			background-color: #009900;
			&:hover {
				background-color: #4DC972;
			}

		}
	}

	ul {
		padding: 0px;
		.ind-li {
			margin: 20px;
			display: inline-block;
			border: 1px solid #BBB2A6;
			.ind-thumb {
				max-height: 150px;
				max-width: 150px;
				margin-right: 5px;
			}
		}
	}
}
@media(max-width: 885px) {
	.ind-watch	{
		margin: 70px 0 150px;
	}
}