<div class="about-page">
	<div class="how-to-buy">
		<h1>Easy to buy</h1>
		<div class="searching">
			<div class="text">
				<h2>Choose the one that fits you</h2>
				<p>Use filters to make it more easy</p>
			</div>
			<img src="/images/about/4.png" alt="">
		</div>
		<hr>
		<div class="searching">
			<img src="/images/about/1.png" alt="">
			<div class="text">
				<h2>Leave your phone number</h2>
				<p>If you have found an item that interests you or have any question, please, use the <a href="#/contact">form</a> to establish communication</p>
			</div>
		</div>
		<hr>	
		<div class="searching">
			<div class="text">
				<h2>Let our manager contact you</h2>
				<p>We will reach you as soon as possible to provide you all nessessry information</p>
			</div>
			<img src="/images/about/2.png" alt="">
		</div>
		<hr>	
		<div class="searching">
			<img src="/images/about/3.png" alt="">
			<div class="text">
				<h2>Recieve your item</h2>
				<p>You can pay for the item after you have recieved it</p>
			</div>
		</div>

	</div>
	<div class="map"></div>
	<div class="social-info"></div>
</div>