<div class="main-container">
	<div class="main-sale">
		<div class="main-logo">
			<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 512 512" height="48px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="48px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M256.108,3.652c-139.166,0-252,112.834-252,252c0,139.167,112.834,252,252,252s252-112.833,252-252   C508.108,116.486,395.274,3.652,256.108,3.652z M256.108,486.652c-127.374,0-231-103.626-231-231c0-127.373,103.626-231,231-231   s231,103.627,231,231C487.108,383.027,383.483,486.652,256.108,486.652z" fill="white"/><polygon fill="white" points="256.108,276.652 130.108,276.652 130.108,297.652 277.108,297.652 277.108,88.514 256.108,88.514     "/></g></svg>
			<div><p class="main-sub">Fashion watches</p></div>
		</div>	
		
	</div>
	<div class="main-intro">
		<h1>Elegant style</h1>
		<p>It's your watch that tells most about who you are</p>
	</div>
	<div class="adds">
		<ul rn-carousel rn-carousel-auto-slide rn-carousel-transition="zoom" rn-carousel-duration="1000"  class="add-carousel">
			<li>
				<div class="add-slide">
					<img src="/images/elegancy.png" alt="">
				</div>
			</li>
			<li>
				<div class="add-slide">
					<img src="/images/quality.png" alt="">
				</div>
			</li>
			<li>
				<div class="add-slide">
					<img src="/images/precision.png" alt="">
				</div>
			</li>
			<li>
				<div class="add-slide">
					<img src="/images/design.png" alt="">
				</div>
			</li>
		</ul>
	</div>
	
	
	<div class="main-section">
		<h2 class="section-heading">Convenience with low prices.</h2>
		<div class="section-paragraph"><p><span> Out store specialises in watches by named designers and boutique brands. Our collection of watches is carefully curated to present a diverse range of products for discerning customers, at affordable prices</span></p></div>
	</div>
	<ul rn-carousel rn-carousel-auto-slide class="main-carousel">
		<li>
			<div class="carousel-slide">
				<div class="carousel-watch"><a href="#/gallery/1"><img src="/images/main/casio17.jpg" alt=""></a></div>
				<div class="carousel-blurb">
					<h3 class="blurb-heading">Casio</h3>
					<p class="blurb-paragraph">Technology for life.</p>
					<div class="blurb-button"><a href="#/gallery/1" id="main-button">go to details</a></div>
				</div>
			</div>
		</li>
		<li>
			<div class="carousel-slide">
				<div class="carousel-watch"><a href="#/gallery/24"><img src="/images/main/bulova46.jpg" alt=""></a></div>
				<div class="carousel-blurb">
					<h3 class="blurb-heading">Bulova</h3>
					<p class="blurb-paragraph">Where substance meets style.</p>
					<div class="blurb-button"><a href="#/gallery/24" id="main-button">go to details</a></div>
				</div>
			</div>
		</li>
		<li>
			<div class="carousel-slide">
				<div class="carousel-watch"><a href="#/gallery/18"><img src="/images/main/chopard.jpg" alt=""></a></div>
				<div class="carousel-blurb">
					<h3 class="blurb-heading">Chopard</h3>
					<p class="blurb-paragraph">Where ideas come to life.</p>
					<div class="blurb-button"><a href="#/gallery/18" id="main-button">go to details</a></div>
				</div>
			</div>
		</li>
	</ul>
	
</div>
